@import url(//db.onlinewebfonts.com/c/af7c07faaff0d16720c25db7990579e2?family=Star+Jedi);

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1c0d21 0%, #090A0F 100%);
  overflow: hidden;
}

#title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: black;
  text-align: center;
  font-family: 'Star Jedi', sans-serif;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 10px;
  padding-left: 10px;
  text-shadow: 0 0 3px yellow, 0 0 3px yellow, 0 0 3px yellow, 0 0 3px yellow;
}

.star-wars-font {
  font-family: 'Star Jedi', sans-serif;
}