@function multiple-box-shadow ($n) {
  $value: '#{random(200)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(2000);
$shadows-medium: multiple-box-shadow(1500);
$shadows-big: multiple-box-shadow(1000);

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1c0d21 0%, #090A0F 100%);
  overflow: hidden;
}

#stars {
  width: 0.5px;
  height: 0.5px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: blinker 3s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 0.5px;
    height: 0.5px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: blinker 5s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 1.5px;
  height: 1.5px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: blinker 7s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1.5px;
    height: 1.5px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

#title {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'lato',sans-serif;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 10px;
  padding-left: 10px;

  span {
    background: #FFE81F;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes blinker {
0% { opacity: 0.2 }
20% { opacity: 0.4 }
40% { opacity: 0.6 }
60% { opacity: 0.8 }
80% { opacity: 0.6 }
90% { opacity: 0.4 }
100% { opacity: 0.2 }
}
