@import url(//db.onlinewebfonts.com/c/af7c07faaff0d16720c25db7990579e2?family=Star+Jedi);
@import url(//db.onlinewebfonts.com/c/3ae7aaa2cf06b2c15d2beb4ef9450b92?family=ITC+Serif+Gothic);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'variables';

html {
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1c0d21 0%, #090A0F 100%);
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.star-wars-font {
  font-family: 'Star Jedi', sans-serif;
}