@import 'functions';

// stars
$shadows-small: multiple-box-shadow(2000);
$shadows-medium: multiple-box-shadow(1500);
$shadows-big: multiple-box-shadow(1000);

// keyframes
@keyframes blinker {
  0% { opacity: 0.2 }
  20% { opacity: 0.4 }
  40% { opacity: 0.6 }
  60% { opacity: 0.8 }
  80% { opacity: 0.6 }
  90% { opacity: 0.4 }
  100% { opacity: 0.2 }
}


//breakpoints to reponsive design
$extra-small: "max-width: 575.98px";
$small: "max-width: 767.98px";
$medium: "max-width: 991.98px";
$large: "max-width: 1199.98px";
$extra-large: "max-width: 1500px";

@mixin device-size($range) {
  @if $range == extra-small {
    @media ($extra-small) { @content; }
  } @else if $range == small {
    @media ($small) { @content; }
  } @else if $range == medium {
    @media ($medium) { @content; }
  } @else if $range == large {
    @media ($large) { @content; }
  }  @else if $range == extra-large {
    @media ($extra-large) { @content; }
  }
}