@import 'base';

.audio-player {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: #F5ED15;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.sound-icon {
  width: 30px;
  height: 30px;
}