@import 'base';

.audio-player {
  border-radius: 50%;
  height: 4vh;
  width: 4vh;
  margin: 1vh 0;
  background: #F5ED15;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;

  @include device-size(small) {
    margin-left: 20px;
  }
}

.sound-icon {
  width: 3vh;
  height: 3vh;

  @include device-size(medium) {
    width: 2.5vh;
    height: 2.5vh;
  }
}