@import 'base';

.header {
display: flex;
width: 100%;
justify-content: space-between;
align-content: center;
font-size: 25px;
color: white;
height: 15vh;
box-sizing: border-box;

  @include device-size(extra-small) {
    padding-top: 1vh;
  }

  .saber {
    position: relative;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include device-size(medium) {
      width: 40%;
    }

    img {
      width: 100%;
    }

    @import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Press+Start+2P&display=swap');

    .top-info {
      font-family: 'ITC Serif Gothic', serif;
      font-family: 'Press Start 2P', cursive;
      text-transform: uppercase;
      color: wheat;
      position: absolute;
      top: 2vw;
      width: 100%;
      font-size: 1.2vw;
      display: flex;

      &:after {
        content: 'segundos';
        margin-left: 1%;
      }

      &.left {
        justify-content: flex-end;
        padding-right: 30%;
      }

      &.right {
        justify-content: flex-start;
        padding-left: 30%;
      }

      @include device-size(extra-large) {
        font-size: 1.3vw;
        top: 2vh;
      }

      @include device-size(medium) {
        font-size: 1.5vw;
        top: 3vh;

        &:after {
          content: ' s'
        }
      }

      @include device-size(extra-small) {
        font-size: 2vw;

        &:after {
          content: ' s'
        }
      }
    }
  }

  .right-saber img {
    transform: scale(-1, -1);
  }

  .main-button-wrapper {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include device-size(medium) {
      width: 20%;
    }

    .main-button {
      border: none;
      border-radius: 7px;
      font-weight: 700;
      padding: 1vw 2vw;
      font-family: 'ITC Serif Gothic', serif;
      font-family: 'Press Start 2P', cursive;
      text-transform: uppercase;
      align-self: center;
      cursor: pointer;
      font-size: 1vw;

      @include device-size(large) {
        font-size: 1.3vw;
      }

      @include device-size(medium) {
        padding: 1.5vw 3vw;
        font-size: 1.6vw;
      }

      @include device-size(extra-small) {
        padding: 2vw 4vw;
        font-size: 1.8vw;
      }

      &.red {
        background: #E5291E;
        color: white;
      }

      &.blue {
        background: #54C4EB;
        color: white;
      }

      &.yellow {
        background: #F5ED15;
        color: black;
      }
    }
  }

}
