@import 'base';
@import 'variables';

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  font-size: 25px;
  color: white;
  height: 20vh;

  .saber {
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }

    .top-info {
      font-family: 'ITC Serif Gothic', serif;
      text-transform: uppercase;
      color: wheat;
      position: absolute;
      top: 30px;
    }
  }

  .right-saber img {
    transform: scale(-1, -1);
  }

    .main-button {
      width: 180px;
      height: 50px;
      border: none;
      border-radius: 7px;
      font-weight: 700;
      font-size: 25px;
      font-family: 'ITC Serif Gothic', serif;
      text-transform: uppercase;
      align-self: center;

      &.red {
        background: #E5291E;
        color: white;
      }

      &.blue {
        background: #54C4EB;
        color: white;
      }

      &.yellow {
        background: #F5ED15;
        color: black;
      }
    }
}

