@import 'base';

@import url(//db.onlinewebfonts.com/c/3ae7aaa2cf06b2c15d2beb4ef9450b92?family=ITC+Serif+Gothic);

.movie-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: black;
  padding-bottom: 12px;

  .star, .wars {
    font-family: 'Star Jedi', sans-serif;
    font-size: 35px;
    line-height: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .movie-name {
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'ITC Serif Gothic', serif;
    color: white;
  }
}